GARAGE_KEY_ID=GKxxxxxxxxxxxxxxxxxxxx
GARAGE_SECRET_KEY=your-secret-key
GARAGE_ENDPOINT=ducklake-garage.app.cloud.cbh.kth.se
GARAGE_REGION=garage
BUCKET_NAME=ducklake

PG_HOST=localhost
PG_DB=ducklake
PG_USER=ducklake
PG_PASSWORD=your-postgres-password
PG_PORT=5432
